# SPDX-FileCopyrightText: 2026 Alex Huber <alex.huber743@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Maki
Comment=Quick file previewer
Exec=Maki
Icon=document-preview
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
MimeType=image/png;image/jpeg;image/svg+xml;video/mp4;audio/mpeg;application/pdf;text/plain;